<header>
    <div class="header-wrapper">
      R&I DASHBOARD
      <button class="file-button" [routerLink]="['/randi']">GO TO FILE</button>
      <button class="filter-button"><img [src]="filterIcon" alt="filter-icon"></button>
    </div>
</header>


<div class="containerRandiHome">
    <h5>Search by Filters</h5>
    <form autocomplete="off">
    <div class="row">
        <div class="column">
            <span>Search by Country </span>
            <select class="tableSize" [(ngModel)]="country" name="country" (ngModelChange)="Search()">
                <option [ngValue]="null" selected>Select a Country</option>
                <option *ngFor="let randiData of filteredRAndIDataArray">
                    {{randiData.country}}
                </option>
            </select>
        </div>

        <div class="column">
            <span>Search by GBL Program  </span>
            <select class="tableSize" [(ngModel)]="gblProgram" name="gblProgram" (ngModelChange)="Search()">
                <option [ngValue]="null" selected>Select a GLB Program</option>
                <option *ngFor="let randiData of filteredRAndIDataArray">
                    {{randiData.gblProgram}}
                </option>
            </select>
        </div>

        <div class="column">
            <span>Search by Partner Name  </span>
            <select class="tableSize" [(ngModel)]="partnerName" name="partnerName" (ngModelChange)="Search()">
                <option [ngValue]="null" selected>Select a Partner Name</option>
                <option *ngFor="let randiData of filteredRAndIDataArray">
                    {{randiData.partnerName}}
                </option>
            </select>
        </div>

        <div class="column">
            <span>Search by Partner Location  </span>
            <select class="tableSize" [(ngModel)]="partnerLocation" name="partnerLocation" (ngModelChange)="Search()">
                <option [ngValue]="null" selected>Select a Partner Location</option>
                <option *ngFor="let randiData of filteredRAndIDataArray">
                    {{randiData.partnerLocation}}
                </option>
            </select>
        </div>

        <div class="column">
            <span>Search by Collaboration Type </span>
            <select class="tableSize" [(ngModel)]="modelOfCollaborationType" name="modelOfCollaborationType" (ngModelChange)="Search()">
                <option [ngValue]="null" selected>Select a Collaboration Type</option>
                <option *ngFor="let randiData of filteredRAndIDataArray">
                    {{randiData.modelOfCollaborationType}}
                </option>
            </select>
        </div>

        <div class="column">
            <span>Clear All Filters </span>
            <button class="tableSize w-100 btn btn-lg btn-primary" (click)="ClearFilter()">Clear</button>
        </div>


    </div>
    </form>
    </div>


    <!--
    <nav class="from-group">
        <input type="text" class="from-control" name="country" placeholder="Search by Country" [(ngModel)]="country" (ngModelChange)="SearchCountry()"/>
    </nav>

    <nav class="from-group">
        <input type="text" class="from-control" name="gblProgram" placeholder="Search by GBL" [(ngModel)]="gblProgram" (ngModelChange)="SearchGBL()"/>
    </nav>

    <nav class="from-group">
        <input type="text" class="from-control" name="partnerName" placeholder="Search by Partner Name" [(ngModel)]="partnerName" (ngModelChange)="SearchPartnerName()"/>
    </nav>

    <nav class="from-group">
        <input type="text" class="from-control" name="partnerLocation" placeholder="Search by Partner Location" [(ngModel)]="partnerLocation" (ngModelChange)="SearchPartnerLocation()"/>
    </nav>

    <nav class="from-group">
        <input type="text" class="from-control" name="modelOfCollaborationType" placeholder="Search by Model Type" [(ngModel)]="modelOfCollaborationType" (ngModelChange)="SearchModelType()"/>
    </nav>
    -->

<ng-container *ngIf="isFirstSearchMade()">
    <table class="table table-condensed table-striped">

        <thead>
            <tr class="separating_line">
                <th colspan="2"></th>
                <th colspan="2">Partner</th>
                <th colspan="1">Collaboration's Model</th>
            </tr>
            <tr>
                <th>Country</th>
                <th>GBL Program</th>
                <th>Name</th>
                <th>Location</th>
                <th>Type</th>
                <th>See Details</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let randiData of filteredRAndIDataArray">

                    <td>{{randiData.country}}</td>
                    <td>{{randiData.gblProgram}}</td>
                    <td>{{randiData.partnerName}}</td>
                    <td>{{randiData.partnerLocation}}</td>
                    <td>{{randiData.modelOfCollaborationType}}</td>

            </tr>
        </tbody>
    </table>
</ng-container>
    <!--<a type="button"(click)="popup = true">Full Details</a>-->
    <!--
    <div class="overlay" *ngIf="popup">
        <div class="popup">
            <h2>Full Details</h2>
            <a class="close" (click)="popup = false">&times;</a>
            <div class="content">
                In Progress
            </div>
        </div>
    </div>
-->

