
<header>
  <p>R&I DASHBOARD</p>
</header>

<div class="containerRandi">
<table class="table table-trapped">
  <thead>
      <tr class="separating_line">
          <th colspan="4" ></th>
          <th colspan="2">Partner</th>
          <th colspan="2">Collaboration's Model</th>
          <th colspan="5"></th>
          <th colspan="2"></th>
          <th colspan="1"></th>
          <th colspan="2">Last Update</th>
      </tr>
      <tr >
          <th>Country</th>
          <th>GBL Program</th>
          <th>Topic</th>
          <th>R&I Project Name</th>
          <th>Name</th>
          <th>Location</th>
          <th>Type</th>
          <th>Sub-type</th>
          <th>Investment/cost type</th>
          <th>Subject (keywords)</th>
          <th>Sign Contract Y/N</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Capgemini Contact</th>
          <th>Partner Contact</th>
          <th>Comments</th>
          <th>Date</th>
          <th>Person Name</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let randiData of randiDataArray">
          <td>{{randiData.country}}</td>
          <td>{{randiData.gblProgram}}</td>
          <td>{{randiData.topic}}</td>
          <td>{{randiData.rAndIProjectName}}</td>
          <td>{{randiData.partnerName}}</td>
          <td>{{randiData.partnerLocation}}</td>
          <td>{{randiData.modelOfCollaborationType}}</td>
          <td>{{randiData.modelOfCollaborationSubType}}</td>
          <td>{{randiData.investmentType}}</td>
          <td>{{randiData.subjectKeywords}}</td>
          <td>{{randiData.signContract}}</td>
          <td>{{randiData.startDate}}</td>
          <td>{{randiData.endDate}}</td>
          <td>{{randiData.capgeminiContact}}</td>
          <td>{{randiData.partnerContact}}</td>
          <td>{{randiData.comments}}</td>
          <td>{{randiData.lastUpdateDate}}</td>
          <td>{{randiData.lastUpdatePersonName}}</td>
      </tr>
  </tbody>
</table>
</div>