html,
body {
    height: 90%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bg {
    background: url(/assets/images/background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* width */

::-webkit-scrollbar {
    width: 12px;
    padding: 2px;
}


/* Track */

::-webkit-scrollbar-track {
    background: white;
}


/* Handle */

::-webkit-scrollbar-thumb {
    width: 8px;
    background: #00A0C6;
    border-radius: 1em;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #00A0C6;
}